{% extends 'base.html' %}
{% block content %}

<div class="card p-5 mx-auto" style="max-width:500px;">
  <h4 class="mb-3">Track Complaint</h4>

  <form method="post">
    <input class="form-control mb-3" name="cid" placeholder="Complaint ID" required>
    <button class="btn btn-primary w-100">Track</button>
  </form>

  {% if complaint %}
  <hr>
  <p><strong>Status:</strong> {{ complaint.status }}</p>
  <p><strong>Last Updated:</strong> {{ complaint.updated_at }}</p>
  {% endif %}
</div>

{% endblock %}
